
<div class="container mt-4">
  <h3 class="mb-3">Document Search</h3>
  <div class="d-flex justify-content-center mt-3">
  <!-- Bootstrap input group with magnifying glass -->
  <div class="input-group" style="width: 90%;">
    <span class="input-group-text bg-white">
      <i class="bi bi-search"></i>
    </span>
    <input
      type="text"
      class="form-control border border-3"
      placeholder="Search documents..."
      [(ngModel)]="searchText"
      (ngModelChange)="onSearchChange()"
    >
  </div>


  
  </div>
</div>